@charset "utf-8";
/* CSS Document */

/* http://www.araudi.net/ejemplos/menus_desplegables_CSS.html */


.contenedor-main-1 {
	background: url(../images/girl-from-behind-1741699_1920.jpg) no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	height: 718px;
	border-radius: 15px;
	}

  .fuentetitulo {	
    font-family: Mafakanev;
    font-size: 150vm;
    text-shadow: 5px 1px 2px white; /* sombreado blanco del titulo */
  }

  .jumbotron {
    background-color: transparent;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*margin-top: 50px;*/
    margin-top: 2px;
    margin-bottom: 0px;
    padding-left: 100px;
}


/* -------------------------------------------------------------------------------------------------------------*/


* { margin: 0px;
padding: 0px; outline: 0;
}
html, body { width: 100%;}

body {
font-family: Verdana, Arial, Helvetica, sans-serif;
	
	border-top: 8px solid #000; /* borde - linea (grueso - tipo de linea - color)*/
	border-radius: 15px;
}
#menu {  text-align: center;
font-size: 1.95em;  /* tamaño de la letra */
width: 820px;
margin: auto;
}
#menu ul { list-style-type: none;}
#menu ul li.nivel1 { 
	float: left;  /* posicion vertical del menu */
	width: 170px; /* tamaño de los botones */
	margin-right: 12px; /* espaciado entre botones */
}
#menu ul li a {display: block;
text-decoration: none;
color: #fff;
/*background-color: darkgray; /* color botones */
/*border: solid 1px #fff;*/
padding: 2px;  /* tamaño de los botones */ 
position: relative;	
	border-radius: 15px; /* borde submenu */
	font-family: Mafakanev;
}
#menu ul li:hover {position: relative;
}
#menu ul li a:hover, #menu ul li:hover a.nivel1, span:hover, .contenedorfoto:hover {background-color: darkgray;
color: #000;
position: relative;
	border-color: #000; /*color borde boton menu */
}
#menu ul li a.nivel1 {display: block!important;display: none;
position: relative;	
	border-radius: 15px; /* borde menu principal */
}
#menu ul li ul {display: none;
}
#menu ul li a:hover ul, #menu ul li:hover ul {display: block;
position: absolute;left: 0px;
}
#menu ul li ul li a {width: 150px; /* tamaño de los botones submenu */
padding: 1px 0px 5px 0px;
border-top-color: #000;
}
#menu ul li ul li a:hover {border-top-color: #000;
position: relative;
}
table.falsa {border-collapse:collapse;
border:0px;
float: left;
position: relative;
}

.contenedor-menu {
	background-color:lightgrey; /* fondo de contenedor de menu */
	height: 40px;
	line-height: 35px;	
	padding: 5px 0px 5px 46%;
	border-radius: 15px; /* redondear bordes */
	border-bottom: solid;	
	background-size: 100% 100%;
	background: linear-gradient(to right, lightgrey 20%, darkgrey 40%); /* degradacion del color del contenedor del menu */
}

.contenedor-main-slider {
	background: url(../images/girl-from-behind-1741699_1920.jpg) no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	/*height: 718px;*/
	border-radius: 15px;
	/*box-sizing: border-box;*/
    height: 100%;
	/*padding-bottom: 1%; /* */
	}

footer{
	background-color: black;
	color: white;
	padding: 5px 20px 10px 20px;
	text-align: center;
	border-radius: 15px;
}

.seccion-footer{
    display: flex;
	align-content: flex-start;
	justify-content: space-around;
}

.enlace-footer{
	color: mistyrose;
	text-decoration: none;
	font-weight: bold;
}


.cinco-contenedores {
	width: 20%;
	font-style: italic;
	padding-top: 10px;
}

.ajustar-a-contenedor {
	width: 100%
}

.column { 
	float: left;
	padding: 0px 0px 0px 40px;
}

@font-face {
	font-family: Mafakanev;
	src: url(../fonts/Mafakanev.otf);
}


/* https://desarrolloweb.com/articulos/2323.php */
/* Maquetar una galería de fotos con CSS */
#principal {
   margin:0 auto;
   padding: 100px 0px 0px 50px;
} 

.contenedorfoto {
   float:left;
   margin: 10px;
   padding:5px;	
   border-radius: 10px;
} 

/*.contenedorfoto:hover {
	background-color: darkgray;
	border-color: white;
}*/

.contenedorfoto {
   float:left;
   width:210px;
   height:180px;
   margin: 10px;
   padding:5px;
   background-color:#f5f7f9;
   border-right: #a5a7aa solid 1px;
   border-bottom: #a5a7aa solid 1px;
   text-align:center;
} 

.contenedorfoto img {
	width: 210px;
	height: 180px;
	border-radius: 10px;
}

span {display: block;
text-decoration: none;
color: #fff;
background-color: darkgray; /* color botones */
border: solid 1px #fff;
padding: 6px;  /* tamaño de los botones */ 
position: relative;	
	border-radius: 15px; /* borde submenu */
	font-size: 1.8em;
	font-family: Mafakanev;
}

.subtiulo {
    font-family: Mafakanev;
	font-size: 25px;
}

.mapa {
	width: 100%;
	height: auto;
	align-content: center;
}

.imagenmapa {		
	opacity: 0.82;
	border-radius: 15px;	
}

#mapapadding {
	padding-top: 2em;
}

.politicas {
	font-size: 12px;
	font-weight: bold;
}

.justificar {
	text-align: justify;
}

.izquierda {
	text-align: left;
}

.linksfooterpol:hover {background-color: darkgray;
color: #000;
position: relative;
border-color: #000; /*color borde boton menu */
border-radius: 15px;
}

.linksfootermip:hover {background-color: darkgray;
color: #000;
position: relative;
border-radius: 15px;
text-align: center;
}

.seccion-contacto{
    display:inline-flex;
	padding-left: 10em;
	padding-right: 10em;
}

.dos-contenedores {
	width: 50%;
}

.ajustar-a-contenedor {
	width: 99%
}

.quitarlineaenlace {
	text-decoration: none;
}

form textarea { /* tamaño del textarea */
    /*Quitar ajuste de tamaño (resize) a los textarea con CSS (Tips)*/
    resize: none;
}


/* Form Contacto */
.contact_form h2, .dondeenc {
    /*background: none repeat scroll 0 0 #F3F3F3;*/
    border-radius: 5px;
    color: blue;
    display: block;
    font-family: sans-serif;
    font-size: 25px;
    padding: 5px;
    text-shadow: 1px 1px 1px #CCCCCC;
    width: 433px;
}


.contact_form ul {
    width:750px;
    list-style-type:none;
    margin:0px;
    padding:0px;
}

.contact_form li{
    padding:12px; 
    position:relative;
}

.contact_form label {
    color: #555555;
    display: inline-block;
    float: left;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-top: 3px;
    padding: 3px;
    width: 90px;
}

.contact_form input {
    height:20px; 
    width:220px; 
    padding:5px 8px;
}

.contact_form textarea {
    padding:8px; 
    width:300px;
}

.contact_form button {
    margin-left:90px;
}

.contact_form input, .contact_form textarea { 
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
    color: #888;
    font-size: 12px;
    padding-right:30px;
    -moz-transition: padding .25s; 
    -webkit-transition: padding .25s; 
    -o-transition: padding .25s;
    transition: padding .25s;
}

.contact_form input:focus, .contact_form textarea:focus {
    background: #fff; 
    border:1px solid #555; 
    box-shadow: 0 0 3px #aaa; 
    padding-right:80px;
}

.contact_form input:required:valid, .contact_form textarea:required:valid {
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}

.contact_form input:focus:invalid, .contact_form textarea:focus:invalid {
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}

button.submit {
    padding: 9px 17px;
   font-family: Helvetica, Arial, sans-serif;
   font-weight: bold;
   line-height: 1;
   color: #444;
   border: none;
   text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), 

   to(#bbb));
   background-image: -moz-linear-gradient(0% 100% 90deg, #BBBBBB, #FFFFFF);
   background-color: #fff;
   border: 1px solid #f1f1f1;
   border-radius: 10px;
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

button.submit:hover {
    opacity:.55;
    cursor: pointer; 
    color: #fff;
}

button.submit:active {
    border: 1px solid #222;
    box-shadow: 0 0 10px 5px #444 inset; 
}

/* https://codepen.io/anon/pen/pxvxNV */ 
/* slider */

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
	width: 95%;  /* tamaño del espacio a trabajar */
}

.thumbnails {
  /*display: flex;*/
  flex-direction: column;
  line-height: 1.5;
	padding-right: 650px; /* mueve hacia el derecho de la pantalla */
}
.thumbnails li {
  flex: auto;
}
.thumbnails a {
 display: block;
}
.thumbnails img {
  width: 13vmin; /* tamaño de imagen pequeña */
  height: 13vmin; /* tamaño de imagen pequeña */
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
	
	border-radius: 15px;
}

.slides {
  overflow: hidden;
  width: 51.5vmin;  /* espacio entre la imagen grande y las pequeñas */
  height: 70vmin;
}
.slides li {
  width: 51.5vmin; /* espacio de los vinculos debe ser igual al de arriba*/
  height: 70vmin;
  position: absolute;
  z-index: 1;
}
.slides img {
  height: 68vmin; /* tamaño imagen grande */
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
	border-radius: 15px;
}

.slides li:target {
  z-index: 3;
  -webkit-animation: slide 1s 1;
}

.slides li:not(:target) {
  -webkit-animation: hidden 1s 1;
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@-webkit-keyframes hidden {
  0% {
    z-index: 2;
  }
  100% {
    z-index: 2;
  }
}
@keyframes hidden {
  0% {
    z-index: 2;
  }
  100% {
    z-index: 2;
  }
}


/* https://www.w3schools.com/Css/css_image_gallery.asp */
/* CSS Image Gallery */

.fotospromo {
	padding-top: 120px;
	padding-left: 150px;
}

.fotospromo2 {
	padding-top: 280px;
	padding-left: 150px;
}

.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;	
	border-radius: 15px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

div.desc {
    padding: 15px;
    text-align: center;
	background-color: beige;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.porcentaje {
	background-color: red;
	color: white;
	font-weight: bold;
	text-align: center;
	line-height: 2em;
}

.alinearprecios {
	text-align: left;
	padding-left: 22px;
}

.antes {
	text-decoration: line-through;
}

.tamanoimg {
	 width: 300px;
	 height: 200px;
}